source https://www.nuget.org/api/v2
nuget System.Reactive
nuget System.Reactive.Interfaces

group Test
source https://www.nuget.org/api/v2

nuget FluentAssertions
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2

group Build
source https://www.nuget.org/api/v2

nuget FAKE