source https://www.nuget.org/api/v2
nuget System.Reactive
nuget System.Reactive.Interfaces

group Test
source https://www.nuget.org/api/v2

nuget FluentAssertions
nuget NUnit
nuget NUnit.Runners

group Build
source https://www.nuget.org/api/v2

nuget FAKE